html {
    box-sizing: border-box; 
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cuprum', sans-serif;
    padding: 0;
    margin: 0;
}

button {
    font-family: 'Cuprum', sans-serif;
}

img { 
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Обертка для центровки верхнего меню */
.header__upper__outer {
    background: #293449;
    width: 100%;
    height: 100%;
}

/* Верхнее меню */
.header__upper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 42px;
    margin: 0 auto;
    font-size: 17px;
    color: #ffffff;
    background: #293449;
}

.header__upper a {
    color: #fff;
}

/* Обертка логотипа и поля поиска */
.wrapper-left {
    display: flex;
    justify-content: flex-start;
}

/* Обертка кнопок "Закладки", "Корзина", "Оформить заказ" */
.wrapper-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Логотип */
.header__upper__logo {
    display: block;
    width: 220px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    background-image: url('/img/logo-big.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 109px;
    box-shadow: 0px 5px 0px #b52933;
    outline: none;
}

.header__upper__logo:hover,
.header__upper__logo:focus {    
    background-color: #ca2c37;
    box-shadow: 0px 5px 0px #9a212a;
}

.header__upper__logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0px #8e1e26;
}


/* Поле поиска */
.header__upper__search {
    min-width: 286px;
    line-height: 42px;
    vertical-align: middle;
}

/* Лейбл "Поиск" */
.header__upper__search label {
    position: absolute;
    display: block;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    top: 1px;
    left: 0;
    font-size: 17px;
}

/* Стилизация инпута */
.header__upper__search input[type=search] {
    position: relative;
    padding-left: 50px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    border: none;
    background-color: transparent;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: #fff;
    outline: none;
}

/* Стилизация плейсхолдера */
.header__upper__search input[type=search]::-webkit-input-placeholder {
    color: #000;
    opacity: 0;
}

.header__upper__search input[type=search]:focus::-webkit-input-placeholder,
.header__upper__search input[type=search]:active::-webkit-input-placeholder {
    opacity: 1;
}


.header__upper__search input[type=search]:-moz-placeholder {
    color: #000;
    opacity: 0;
}

.header__upper__search input[type=search]:focus:-moz-placeholder,
.header__upper__search input[type=search]:active:-moz-placeholder {
    opacity: 1;
}

.header__upper__search input[type=search]::-moz-placeholder {
    color: #000;
    opacity: 0;
}

.header__upper__search input[type=search]:focus::-moz-placeholder,
.header__upper__search input[type=search]:active::-moz-placeholder {
    opacity: 1;
}

.header__upper__search input[type=search]:-ms-input-placeholder {
    color: #000;
    opacity: 0;
}

.header__upper__search input[type=search]:focus:-ms-input-placeholder,
.header__upper__search input[type=search]:active:-ms-input-placeholder {
    opacity: 1;
}

/* Затемнение при ховере */
.header__upper__search input[type=search]:hover {
    background-color: #212a3a;
}

/* Добавление красной иконки поиска при фокусе */
.header__upper__search input[type=search]:active,
.header__upper__search input[type=search]:focus {
    background-color: #fff;
    color: #000;
    background-image: url('../img/icon-search-red.svg');
    background-position: 16px 11px;
    background-repeat: no-repeat;
}

/* Убираем лейбл "Поиск" при фокусе */
.header__upper__search input[type=search]:focus + label,
.header__upper__search input[type=search]:active + label {
    opacity: 0;
}

.header__upper__search {
    position: relative;
}

/* Иконка поиска */
input[type=search] + label::before {
    content : "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 11px;
    left: 16px;
    background-image: url('/img/icon-search.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

input[type=search] + label:hover::before {
    opacity: 1;
}


/* Общие стили для правых кнопок в header-upper */
.header__link__btn {
    display: block;
    width: 145px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}

/* Кнопка "Закладки" */
.header__link__btn-bookmarks {
    position: relative;
    background-color: #293449;
    padding-left: 20px;
    outline: none;
}

.header__link__btn-bookmarks:hover,
.header__link__btn-bookmarks:focus {
    background-color: #212a3a;
}

.header__link__btn-bookmarks:active {
    opacity: 0.6;
}

/* Иконка "Закладки" */
.header__link__btn-bookmarks::before {
    position: absolute;
    content: "";
    top: 30%;
    left: 20px;
    width: 15px;
    height: 15px;
    background: url('../img/icon-bookmark.svg') 50% 50% no-repeat;
    opacity: 0.3;
}

.header__link__btn-bookmarks:hover::before,
.header__link__btn-bookmarks:focus::before {
    opacity: 1;
}

/* Кнопка "Корзина" */
.header__link__btn-cart {
    position: relative;
    background-color: #293449;
    padding-left: 20px;
    outline: none;
}

.header__link__btn-cart:hover,
.header__link__btn-cart:focus {
    background-color: #212a3a;
}

.header__link__btn-cart:active {
    opacity: 0.6;
}

/* Иконка "Корзина" */
.header__link__btn-cart::before {
    position: absolute;
    content: "";
    top: 30%;
    left: 20px;
    width: 15px;
    height: 15px;
    background: url('../img/icon-cart.svg') 50% 50% no-repeat;
    opacity: 0.3;
}

.header__link__btn-cart:hover::before,
.header__link__btn-cart:focus::before {
    opacity: 1;
}

.header__link__btn-cart-active {
    background-color: #ee3643;
}

.header__link__btn-cart-active:hover,
.header__link__btn-cart-active:focus {
    background-color: #ca2c37;
}

/* Кнопка "Оформить заказ" */
.header__link__btn-order {
    background-color: #63a63e;
    outline: none;
}

.header__link__btn-order:hover,
.header__link__btn-order:focus {
    background-color: #5fbb2d;
}

.header__link__btn-order:active {
    opacity: 0.6;
}

/* Обертка среднего раздела хедера */
.header__middle__outer {
    width: 100%;
    height: 278px;
    background: #f4f7f9;
}

/* Средний раздел хедера */
.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 25px;
}

/* Блок описания магазина */
.header__middle p:first-child {
    width: 250px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;   
    color: #ee3643;
}

.header__middle .wrapper {
    width: 300px;
    /* margin-right: 60px; */
}

/* Блок с телефоном */
.header__middle__phone {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    padding-left: 20px;
    width: 265px;
    height: 40px;
    font-size: 21px;
    text-align: center;
    line-height: 45px;
    color: #ee3643;
    outline:3px solid #fff;
}

.header__middle__phone a {
    color: #ee3643;
}

/* Иконка телефона */
.header__middle__phone::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 15px;
    width: 19px;
    height: 19px;
    background: url('../img/icon-phone.svg') 50% 50% no-repeat;
}


/* Блок с адресом */
.header__middle__phone + p {
    color: #32425c;
    width: 265px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.header__middle__wrapper {
    width: 300px;
    padding-left: 20px;
}

/* Кнопка "Войти" */
.header__middle .btn {
    position: relative;
    display: inline-block;
    float: left;
    width: 120px;
    height: 45px;
    margin-right: 10px;
    padding-left: 30px;
    background-color: #fff;
    border: none;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

/* Иконка "Войти"  */
.header__middle__wrapper .btn::before {
    position: absolute;
    content: "";
    top: 30%;
    left: 15px;
    width: 20px;
    height: 17px;
    background: url('../img/icon-login.svg') 50% 50% no-repeat;
    opacity: 0.3;
}

.header__middle__wrapper .btn:hover::before,
.header__middle__wrapper .btn:focus::before {
    opacity: 1;
}

.header__middle__wrapper .btn:active::before {
    opacity: 0.3;
}

.header__middle .btn:hover,
.header__middle .btn:focus {
    color: #ee3643;
}

.header__middle .btn:active {
    color: rgba(0,0,0,0.3);
}

/* Кнопка "Регистрация */
.header__middle .link-btn {
    display: inline-block;;
    float: right;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: none;
    font-size: 21px;
    color: #000;
    background: #fff;
    outline: none;
}

.header__middle .link-btn:hover,
.header__middle .link-btn:focus {
    color: #ee3643;
}

.header__middle .link-btn:active {
    color: rgba(0,0,0,0.3);
}

/* Основное меню */
.header__menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 940px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

/* Пункты меню */
.header__menu li {
    flex-grow: 1;
    background: #32425c;
    list-style: none;
    box-shadow: inset 0px -5px 0px #293449;
}

/* ОТКУДА ПОЯВЛЯЕТСЯ ОДИН ПИКСЕЛЬ СЛЕВА В СОСТОЯНИИ ХОВЕР? */
.header__menu li:hover,
.header__menu a:focus {
    background: #293449;
}

.header__menu li:active a {
    background-color: #1d2739;
    color: rgba(255,255,255,0.5);
}

/* Ссылка внутри пунктов меню */
.header__menu a {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    outline: none;
}


/* Каталог */

.catalog {
    width: 940px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    justify-content: space-between;
}

/* Карточки категорий каталога */
.catalog__card {
    position: relative;
    margin-bottom: 20px;
    width: 300px;
    height: 123px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

/* Стилизация бейджа "New" */
.catalog__card .flag {
    right: 0;
}

/* Заголовок каточки */
.catalog__card h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 24px;
}

/* Ссылка */
.catalog__card a {
    position: absolute;
    top: 60px;
    left: 25px;
    display: block;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    outline: none;
}

.catalog__card a:hover,
.catalog__card a:focus {
    background-color: rgba(0,0,0,0.2);
}

.catalog__card a:active {
    background-color: rgba(0,0,0,0.3);
}

.catalog__card-materials {
    background-color: #ffbf47;
}

.catalog__card-materials::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 40px;
    width: 44px;
    height: 66px;
    background: url('../img/icon-1.svg') 50% 50% no-repeat;
}

.catalog__card-instrument {
    background-color: #3bbce3;
}

.catalog__card-instrument::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    width: 75px;
    height: 61px;
    background: url('../img/icon-2.svg') 50% 50% no-repeat;
}

.catalog__card-technic {
    background-color: #dc91d8;
}

.catalog__card-technic::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    width: 78px;
    height: 62px;
    background: url('../img/icon-3.svg') 50% 50% no-repeat;
}

.catalog__card-discount {
    background-color: #8ed78f;
}

.catalog__card-discount::after {
    position: absolute;
    content: "";
    top: 25px;
    right: 45px;
    width: 59px;
    height: 72px;
    background: url('../img/icon-4.svg') 50% 50% no-repeat;
}

.catalog__card-delivery {
    background-color: #ffc047;
}

.catalog__card-delivery::after {
    position: absolute;
    content: "";
    top: 35px;
    right: 30px;
    width: 78px;
    height: 63px;
    background: url('../img/icon-5.svg') 50% 50% no-repeat;
}

/* Слайдер */
.catalog__slider {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-bottom: 20px;
    width: 620px;
    height: 266px;
    color: #fff;
}

/* Заголовок слайдера */
.catalog__slider h2{
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
}

/* Текст слайдера */
.catalog__slider p {
    margin: 0;
    font-size: 18px;
}

/* Картинка слайда */
.catalog__slider__img {
    padding-top: 20px;
    padding-left: 25px;
    width: 100%;
    height: 100%;
    background-image: url('../img/slider-image-1.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* Стрелка влево */
.catalog__slider__arrows__left {
    position: absolute;
    display: inline-block;
    top: 43%;
    left: 25px;
    width: 22px;
    height: 40px;
    background: url('../img/icon-arrow-left.svg');
}

/* Стрелка вправо */
.catalog__slider__arrows__right {
    position: absolute;
    display: inline-block;
    top: 43%;
    right: 25px;
    width: 22px;
    height: 40px;
    background: url('../img/icon-arrow-right.svg');
}

.catalog__slider a {
    position: absolute;
    width: 195px;
    bottom: 25px;
    left: 25px;
}

/* Секции - Популярные товары, Популярные производители */
.popular {
    width: 940px;
    margin: 0 auto;
}

/* Враппер хединга */
.popular__heading,
.brands__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 30px;
    margin-bottom: 20px;
    height: 90px;
    background-color: #f9f5f0;
}

/* Заголовок */
.popular h2,
.brands__heading h2{
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

/* Ссылка */
.popular a,
.brands__heading a {
    width: 253px;
}

.popular ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}


/* Популярные производители */

.brands {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.brands__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.brands__wrapper__item {
    display: block;
    margin-bottom: 20px;
    width: 218px;
    height: 143px;
    border: 1px solid #e5e5e5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    outline: none;
}


.brands__wrapper__item:hover,
.brands__wrapper__item:focus {
    border: none;
    box-shadow: 0 0 10px rgba(41, 52, 73, 0.25);
}

.brands__wrapper__item:active {
    box-shadow: 0 0 10px rgba(41, 52, 73, 1);
    opacity: 0.3;
}

.brands__wrapper .bosch {
    background-image: url('../img/bosch.png');
}

.brands__wrapper .makita {
    background-image: url('../img/makita.png');
}

.brands__wrapper .dewalt {
    background-image: url('../img/dewalt.png');
}

.brands__wrapper .interscol {
    background-image: url('../img/interscol.png');
}

.brands__wrapper .hitachi {
    background-image: url('../img/hitachi.png');
}

.brands__wrapper .lg {
    background-image: url('../img/lg.png');
}

.brands__wrapper .aeg {
    background-image: url('../img/aeg.png');
}

.brands__wrapper .metabo {
    background-image: url('../img/metabo.png');
}


/* Сервисы  */

.features__outer {
    background-color: #f4f8fa;
}

.features {
    width: 940px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 10px;
}

.features__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.features p {
    width: 400px;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 60px;
}

.features__bottom {
    display: flex;
    justify-content: space-between;
}


.features__bottom__buttons {
    position: relative;
    width: 240px;
}

.features__shadow {
    position: absolute;
    right: 0;
    top: -15%;
    z-index: 10;
    width: 10px;
    height: 279px;
    background: url('../img/btns-shadow.png') 100% 50% no-repeat;
}

.features__bottom__buttons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features__bottom__buttons__btn {
    z-index: -1;
    display: block;
    padding-left: 25px;
    width: 240px;
    height: 60px;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    border-left: none;
    border-right: none;
    cursor: pointer;
    outline: none;
}

.features__bottom__buttons__btn:hover,
.features__bottom__buttons__btn:focus {
    background-color: #293449;
}


.features__bottom__buttons__btn-active {
    border: none;
    background-color: #fff;
    color: #32425c;
}

.features__bottom__buttons__btn-active:hover,
.features__bottom__buttons__btn-active:focus {
    background-color: #fff;
}

.features__bottom__text {
    padding-left: 80px;
}
.features__bottom__text h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

.features__bottom__text {
    width: 300px;
}


.features__bottom__img {
    width: 500px;
    height: 280px;
    background: url('../img/services-car.png') 100% 100% no-repeat;
}


/* "О компании" */

/* Обертка для центровки блока */
.columns-2__outer {
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 80px;
}

/* Делим секцию на половину экрана */
.columns-2 {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.about {
    margin-right: 140px;
}

.about h2,
.contacts h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about p,
.contacts p {
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.contacts p {
    margin-bottom: 35px;
}

/* Список транспортных компаний */
.about ul {
    font-size: 18px;
    line-height: 20px;
    padding-left: 30px;
    list-style: none;
}

.about li {
    position: relative;
    margin-bottom: 20px;
}

/* Красные полоски у пунктов списка */
.about li::before {
    position: absolute;
    left: -30px;
    top: 11px;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

/* Ссылка "Подробнее о компании" и ссылка "Заблудились?..." */
.btn-link-red,
.btn-red {
    display: block;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #ee3643; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.btn-link-red:hover,
.btn-link-red:focus,
.btn-red:hover,
.btn-red:focus {
    background-color: #ca2c37;
}

.btn-link-red:active,
.btn-red:active {
    background-color: #ba2732;
}

.btn-link-red {
    width: 220px;
}

.btn-red {
    width: 300px;
}

/* Кнопка с картой */
.btn-map {
    width: 300px;
    height: 160px;
    background: url('/img/min-map.png');
    border: none;
    margin-bottom: 40px;
    cursor: pointer;
}



/* Футер */

/* Обертка для центровки блока */
.footer__upper__outer {
    width: 100%;
    background-color: #32425c;
}

.footer__upper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    background-color: #32425c;
}

/* Лого */
.footer__upper__logo {
    height: 63px;
    background-size: 140px;
}

/* Меню футера */

.footer__upper ul {
    margin: 0 0 20px 0;
}

/* Меню футера */
.footer__upper ul,
.footer__bottom ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    width: 550px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.footer__upper ul {
    
    margin-bottom: 35px;
}

.footer__bottom li {
    margin-left: 30px;
}

.footer__upper li {
    margin-top: 42px;
}

.footer__upper a {
    color: #fff;
    outline: none;
}

.footer a:hover,
.footer a:focus {
    text-decoration: underline;
}

.footer__upper a:active,
.footer__bottom a:active{
    opacity: 0.5;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    background-color: #32425c;
}

/* Нижний отступ до footer__original */
.footer__bottom li {
    margin-bottom: 75px;
}

.footer__bottom a,
.footer__original a {
    color: #ffd180;
    outline: none;
}

/* Блок с адресом */
.footer__bottom p {
    margin: 0;
    order: -1;
    width: 334px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}


/* Самый нижний футер */

/* Обертка для центровки блока */
.footer__original__outer {
    width: 100%;
    min-height: 107px;
    background-color: #293449;
}

.footer__original {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #293449;
    color: #fff;
}


/* Блок кнопок социальных сетей */
.footer__original__socials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
}

/* Кнопки социальных сетей */
.footer__original__socials__icon {
    background-color: #212a3a;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 5px;
}

.footer__original__socials__icon:hover,
.footer__original__socials__icon:focus {
    background-color: #ee3643;
}

.icon-vk {
    background-image: url(/img/icon-vk.svg);
}

.icon-fb {
    background-image: url(/img/icon-fb.svg);
}

.icon-ig {
    background-image: url(/img/icon-ig.svg);
}

/* Правый блок со ссылками */
.footer__original__developer {
    display: flex;
    justify-content: flex-end;
}

.footer__original__developer p {
    margin-right: 30px;
}

.footer__original__developer a:active {
    color: #ee3643;
}


/* catalog.html */

/* Кнопка выхода из личного кабинета */
.btn-logout {
    position: relative;
    display: block;
    width: 300px;
    height: 45px;
    margin-bottom: 5px;
    background-color: #fff;
    border: none;
    text-align: left;
    padding-left: 48px;
    font-size: 21px;
    cursor: pointer;
    outline: none;
}

.btn-logout::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 15px;
    width: 20px;
    height: 18px;
    background: url('../img/icon-user.svg') 50% 50% no-repeat;
    opacity: 0.3;
}

.btn-logout::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 20px;
    height: 17px;
    background: url('../img/icon-logout.svg') 50% 50% no-repeat;
    opacity: 0.3;
}

.btn-logout:hover::before,
.btn-logout:hover::after,
.btn-logout:focus::before,
.btn-logout:focus::after{
    opacity: 1;
}

.btn-logout:active {
    color: rgba(0,0,0,0.3);
}

/* Ссылки под кнопкой выхода из личного кабинета */
.header__middle__wrapper-catalog {
    width: 300px;
}

.header__middle__wrapper-catalog ul {
    margin: 0;
    padding-left: 18px;
}
.header__middle__wrapper-catalog li:first-child {
    list-style: none;
}

.header__middle__wrapper-catalog li:nth-child(2) {
    font-size: 5px;
    padding: 0 10px;
    vertical-align: middle;
}

.header__middle__wrapper-catalog li {
    display: inline-block;
}

.header__middle__wrapper-catalog a {
    color: #32425c;
    text-decoration: underline;
    outline: none;
}

.header__middle__wrapper-catalog a:hover,
.header__middle__wrapper-catalog a:focus {
    color: #ee3643;
}

.header__middle__wrapper-catalog a:active {
    color: rgba(0,0,0,0.3);
}

/* Ссылки "хлебные крошки" */
.crumps {
    width: 940px;
    margin: 0 auto;
    text-transform: uppercase;
}

.crumps ul {
    margin: 20px 0 20px;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    list-style: none;
}

.crumps li {
    display: inline-block;
    padding-right: 40px;
    position: relative;
}

.crumps a {
    color: #32425c;
    outline: none;
}

.crumps a:hover,
.crumps a:focus {
    color: #ee3643;
}

.crumps a:active {
    color: rgba(0,0,0,0.3);
}

/* Заголовок */
.crumps h1 {
    width: 940px;
    height: 90px;
    margin: 0;
    margin-bottom: 20px;
    color: #32425c;
    background: #f2f6f8;
    font-size: 30px;
    line-height: 90px;
    padding-left: 30px;
    font-weight: 400;
}


/* Стрелочки сбоку элемента списка*/
.crumps a::after {
    position: absolute;
    content: "";
    top: 2px;
    right: 15px;
    width: 8px;
    height: 12px;
    background-image: url('/img/icon-right-arrow-small.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}




/* Секция с фильтрами и карточками товаров */
.filters-and-goods__inner {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

/* Фильтры */
.filters {
    width: 220px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    
}

.filters h2 {
    width: 220px;
    height: 38px;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 400;
    background-color: #f7f3ec;
}

.filters h3 {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 15px;
    
}

.filter-power h3 {
    letter-spacing: 1px;
}

/* Стилизация ползунка range */
.range-controls {
    position: relative;
    padding-top: 40px;
    margin-bottom: 10px;
    width: 220px;
    height: 80px;
    background-color: #f7f3ec;
    border-radius: 3px;
    
}

/* Серая полоска под ползунками */
.range-controls .scale {
    width: 180px;
    height: 2px;
    margin: 0 auto;
    background: #d7dcde;
}

/* Зеленая полоска под ползунками */
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

/* Ползунок */
.range-toggle {
    position: absolute;
    top: 30px;
    width: 20px;
    height: 22px;
    background-image: url('/img/filter-button.svg');
    cursor: pointer;
}

/* Левый ползунок */
.range-toggle-min {
    left: 20px;
}

/* Правый ползунок */
.range-toggle-max {
    right: 40px;
}

/* Обертка полей ввода диапазона цен */
.price-controls {
    font-size: 17px;
    text-align: center;
    line-height: 38px;
}

/* Клирфикс */
.price-controls::after {
    content: "";
    display: table;
    clear: both;
}

/* Левое поле ввода цены */
.price-controls-min {
    float: left;
    margin-bottom: 15px;
    width: 95px;
    height: 38px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

/* Правое поле ввода цены */
.price-controls-max {
    float: right;
    margin-bottom: 15px;
    width: 95px;
    height: 38px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

/* Стили инпута цены */
.price-controls input {
    width: 80px;
    margin: 0;
    margin-left: 10px;
    text-align: center;
    font: inherit;
    font-size: 17px;
    color: inherit;
    background: none;
    border: none;
}



/* Стилизация чекбокса */
.check {
    position: relative;
    display: block;
    padding-left: 35px;
    padding-bottom: 20px;
}

.check:hover .check__input::before {
    background: #000;
    border-color: red;
}

/* Невыбранный чекбокс */
.check::before {
    position: absolute;
    margin-left: -35px;
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 2px solid #c5c5c5;
    border-radius: 3px;
}

/* Выбранный чекбокс */
.check__input:checked + .check::before {
    border-color: #c5c5c5;
}
.check__input:checked + .check::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 3px;
    display: block;
    width: 20px;
    height: 10px;
    border-left: 4px solid #c5c5c5;
    border-bottom: 4px solid #c5c5c5;
    transform: rotate(-45deg);
}

/* Отключенный невыбранный чекбокс */
.check__input:disabled + .check::before,
.check__input:disabled + .check::after {
    border-color: #c5c5c5;
    opacity: 0.3;
}

/* Отключенный выбранный чекбокс */
.check__input:checked:disabled + .check::before,
.check__input:checked:disabled + .check::after {
    border-color: #c5c5c5;
    opacity: 0.3;
}

/* Фокус на чекбоксе */
.check__input:focus + .check::before {
    border-color: #b5b5b5;
    /* box-shadow: 0 0 1px 2px #9ecaed; */
}


/* Стилизация радио-кнопки */
.radio {
    position: relative;
    display: block;
    padding-left: 35px;
    padding-bottom: 20px;
}

/* Невыбранная радиокнопка */
.radio::before {
    position: absolute;
    margin-left: -35px;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.radio:last-of-type {
    padding-bottom: 80px;
}

/* Выбранная радиокнопка */
.radio__input:checked + .radio::before {
    border-color: #b5b5b5;
}

.radio__input:checked + .radio::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    display: block;
    width: 9px;
    height: 9px;
    background: #b5b5b5;
    border-radius: 50%;
}

/* Отключенная радиокнопка */
.radio__input:disabled + .radio::before {
    border-color: #c5c5c5;
    opacity: 0.3;
}

/* Отключенная выбранная радиокнопка */
.radio__input:checked:disabled + .radio::before,
.radio__input:checked:disabled + .radio::after {
    border-color: #c5c5c5;
    opacity: 0.3;
}

/* Фокус на радиокнопке */
.radio__input:focus + .radio::before {
    border-color: #b5b5b5;
    /* box-shadow: 0 0 1px 2px #9ecaed; */
}


/* Белая кнопка */
.btn-white {
    height: 38px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.btn-white:hover,
.btn-white:focus {
    border-color: #bdc6ca;
}

.btn-white:active {
    border-color: #ee3643;
}



.btn-white-filter {
    width: 140px;
}

.filters hr {
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

/* Правый-блок с товарами и сортировкой товаров */
.goods {
    width: 700px;
}

/* Блок сортировки товаров */
.goods__sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

/* Заголовок "Сортировка" */
.goods__sorting h3 {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 100px;
}

/* Блок с кнопками сортировки */
.goods__sorting__buttons  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

/* Стрелки сортировки */
.goods__sorting__arrows {
    list-style: none;
}

.goods__sorting__arrows li {
    display: inline-block;
    margin-left: 15px;
}

.goods__sorting__buttons a {
    color: rgba(0,0,0,0.3);
    border-bottom: dotted 1px #ee3643;
}

.goods__sorting__buttons a:hover,
.goods__sorting__buttons a:focus {
    color: #000;
    border-bottom-style: solid;
}

.goods__sorting__buttons a:active {
    color: #ee3643;
    border-bottom: none;
}

/* Блок с карточками товаров */
.goods__cards {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    font-size: 0;
}

/* Карточка товара */
.goods__cards__item {
    position: relative;
    display: inline-block;
    width: 220px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    outline: solid 1px #e5e5e5;
}

.goods__cards__item:hover,
.goods__cards__item:focus {
    box-shadow: 0 0 10px rgba(41, 52, 73, 0.25);
}
/* .goods__cards__item:nth-child(3n) {
    margin-right: 0;
} */

/* Бейдж "New" */
.flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    z-index: 20;
    text-indent: -1000px;
    overflow: hidden;
}

.flag-new {
    background: url('/img/new-flag.png') 50% 50% no-repeat;
}

/* Появляющиеся при наведении кнопки на карточке товара */
.actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 168px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.goods__cards__item:hover .actions {
    display: block;
}

/* Кнопки "Купить" и "В закладки" */
.actions .item__buy,
.actions .item__bookmark {
    position: relative;
    display: block;
    width: 135px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    outline: none;
}

.actions .item__buy {
    color: #fff;
    background-color: #63a63e;
    border-bottom-color: #367315;
}

/* Иконка тележки на кнопке "Купить" */
.item__buy::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;
    width: 15px;
    height: 15px;
    background: url('../img/icon-cart.svg') 50% 50% no-repeat;
    opacity: 0.3;
}

.item__buy:hover::before,
.item__buy:focus::before {
    opacity: 1;
}

.actions .item__buy:hover,
.actions .item__buy:focus {
    background-color: #5fbb2d;
    border-color:#5fbb2d;
    border-bottom-color: #367315;
}

.actions .item__buy:active {
    background-color: #518534;
    border-color: #518534;
}

.actions .item__bookmark {
    color: #32425c;
    background-color: #fff;
}

.actions .item__bookmark:hover,
.actions .item__bookmark:focus {
    border-color:#32425c;
}

.actions .item__bookmark:active {
    opacity: 0.3;
}

/* Блок с изображением товара */
.goods__cards__item__image {
    width: 220px;
    height: 168px;
}

/* Название товара */
.item__title {
    min-height: 40px;
    margin: 10px auto 15px;
    padding: 0 25px;
    font-size: 18px;
}

/* Цена без скидки */
.item__discount {
    min-height: 20px;
    padding: 0 25px;
    margin-bottom: 10px;
    font-size: 17px;
    text-decoration: line-through;
    color: #999999;
}

/* Цена со скидкой */
.item__price {
    position: relative;
    width: 125px;
    margin: 10px auto 20px;
    padding: 10px 5px;
    font-size: 17px;
    color: #fff;
    background-color: #ee3643;
    border-radius: 3px;
}

/* Стилизуем блок с ценой в форме стрелочки */
.item__price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

/* Кнопки страниц каталога */
.goods__pages {
    margin: 32px 0 60px;
    padding: 0;
    list-style: none;
    outline: none;
}

.goods__pages li {
    display: inline-block;
}

/* Кнопка страницы с цифрой */
.btn-white-number {
    width: 38px;
    margin-right: 10px;
}

.btn-white-number-active {
    background-color: #ee3643;
    color: #fff;
}



/* Секция "Информация о категории товаров" */
.info__outer {
    background-color: #f2f6f8;
}

.info h2 {
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 20px;
}
.info {
    width: 940px;
    margin: 0 auto;
    padding: 65px 0 55px;
}

.info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}