html {
    box-sizing: border-box; 
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cuprum', sans-serif;
}

img { max-width: 100% }
a { text-decoration: none }

/* Обертка для центровки верхнего меню */
.header__upper__outer {
    background: #293449;
    width: 100%;
    height: 100%;
}

/* Верхнее меню */
.header__upper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 42px;
    margin: 0 auto;
    font-size: 17px;
    color: #ffffff;
    background: #293449;
}

.header__upper a {
    color: #fff;
}

/* Обертка логотипа и поля поиска */
.wrapper-left {
    display: flex;
    justify-content: flex-start;
}

/* Обертка кнопок "Закладки", "Корзина", "Оформить заказ" */
.wrapper-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Логотип */
.header__upper__logo {
    width: 220px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    background-image: url('/img/logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 0px #b52933;
}

.header__upper__logo:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0px #9a212a;
}

.header__upper__logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0px #8e1e26;
}

/* Поле поиска */
.header__upper__search {
    min-width: 286px;
    line-height: 42px;
    vertical-align: middle;
}

.header__upper__search label {
    padding-left: 40px;
}

input[type=search] {
    margin-left: 15px;
    width: 100%;
    display: none;
}

.header__upper__search {
    position: relative;
}

.header__upper__search::before {
    content : "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/img/icon-search.svg');
    background-position: 5% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

/* ПОЧЕМУ НЕ РАБОТАЕТ? */
/* .header__upper__search:hover .header__upper__search::before {
    opacity: 1;
} */

/* Общие стили для правых кнопок в header-upper */
.header__link__btn {
    display: block;
    width: 145px;
    height: 42px;
    text-align: center;
    line-height: 42px;

}

/* Кнопка "Закладки" */
.header__link__btn-bookmarks {
    position: relative;
    background-color: #293449;
    padding-left: 20px;
}

.header__link__btn-bookmarks:hover {
    background-color: #212a3a;
}

.header__link__btn-bookmarks:active {
    opacity: 0.6;
}

/* Иконка "Закладки" */
.header__link__btn-bookmarks::before {
    content : "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/img/icon-bookmark.svg');
    background-position: 15% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

/* Кнопка "Корзина" */
.header__link__btn-cart {
    position: relative;
    background-color: #293449;
    padding-left: 20px;
}

.header__link__btn-cart:hover {
    background-color: #212a3a;
}

.header__link__btn-cart:active {
    opacity: 0.6;
}

/* Иконка "Корзина" */
.header__link__btn-cart::before {
    content : "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/img/icon-cart.svg');
    background-position: 15% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

/* Кнопка "Оформить заказ" */
.header__link__btn-order {
    background-color: #63a63e;
}

.header__link__btn-order:hover {
    background-color: #5fbb2d;
}

.header__link__btn-order:active {
    opacity: 0.6;
}

/* Обертка среднего раздела хедера */
.header__middle__outer {
    width: 100%;
    height: 278px;
    background: #f4f7f9;
}

/* Средний раздел хедера */
.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 25px;
}

/* Блок описания магазина */
.header__middle p:first-child {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    margin-top: 5px;
    margin-left: 50px;
}

.header__middle .wrapper {
    margin-left: 20px;
}
/* Блок с телефоном */
.header__middle__phone {
    width: 270px;
    height: 45px;
    padding: 12px 45px 13px 75px;
    font-size: 21px;
    color: #ee3643;
    outline:3px solid #fff;
    text-align: center;
    background-image: url(/img/icon-phone.svg);
    background-position:  5% 50%;
    background-repeat: no-repeat;
}

/* Блок с адресом */
.header__middle__phone + p {
    color: #32425c;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.header__middle__wrapper {
    display: flex;
}

/* Кнопка "Войти" */
.header__middle .btn {
    width: 120px;
    height: 45px;
    margin-right: 10px;
    padding-left: 30px;
    background-color: #fff;
    background-image: url(/img/icon-login.svg);
    background-position:  15% 50%;
    background-repeat: no-repeat;
    border: none;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

/* Кнопка "Регистрация */
.header__middle .link-btn {
    display: block;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    border: none;
    font-size: 21px;
    color: #000;
    background: #fff;
}

/* Основное меню */
.header__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 60px;
    margin: 0 auto;
    background: #32425c;
    padding-left: 55px;
    padding-right: 55px;
    list-style: none;
    box-shadow: inset 0px -5px 0px #293449;
}


.header__menu a {
    color: #fff;
    display: block;
    padding: 21px 10px;
}

.header__menu a:hover {
    background: #000;
    padding: 21px 10px;
}

.columns-2__wrapper {
    width: 100%;
    min-height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.columns-2 {
    display: flex;
    justify-content: center;
}

.about {
    margin-right: 120px;
}
.about h2,
.contacts h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}

.about p,
.contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.contacts p {
    margin-bottom: 40px;
}

.about ul {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 40px;
    padding-left: 30px;
    list-style: none;
}

.about li {
    margin-bottom: 20px;
}

.about li::before {
    content: "";
    display: block;
    position: relative;
    left: -30px;
    top: 11px;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.btn-link-red,
.btn-red {
    display: block;
    height: 38px;
    text-align: center;
    background: #ee3643;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn-link-red {
    width: 220px;
}


.btn-red {
    width: 300px;
}

.btn-map {
    width: 300px;
    height: 160px;
    background: url('/img/min-map.png');
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer_wrapper {
    width: 100%;
    min-height: 194px;
    background-color: #32425c;
}

.footer__upper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    background-color: #32425c;
}

.footer__upper__logo {
    align-self: flex-start;
    width: 220px;
    height: 68px;
    padding: 21px 42px 26px;
    background-color: #ee3643;
    background-image: url('/img/logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: inset 0px -5px 0px #b52933;
}

.footer__upper ul,
.footer__bottom ul {
    display: flex;
    list-style: none;
}

.footer__upper li,
.footer__bottom li {
    margin-left: 60px;
}

.footer__upper li {
    margin-top: 42px;
}

.footer__upper a {
    color: #fff;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    background-color: #32425c;
}

.footer__bottom a,
.footer__original a {
    color: #ffd180;
}

.footer__bottom p {
    order: -1;
    color: #fff;
}

.footer__bottom li {
    margin-bottom: 80px;
}

.footer__original__wrapper {
    width: 100%;
    min-height: 107px;
    background-color: #293449;
}

.footer__original {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    background-color: #293449;
    color: #fff;
}

.footer__original p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__original__socials {
    display: flex;
    justify-content: space-between;
}

.footer__original__socials__icon {
    background-color: #212a3a;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 5px;
}

.icon-vk {
    background-image: url(/img/vk-icon.svg);
}

.icon-fb {
    background-image: url(/img/fb-icon.svg);
}

.icon-ig {
    background-image: url(/img/insta-icon.svg);
}

.footer__original__developer {
    display: flex;
}

.footer__original__developer p:first-child {
    margin-right: 54px;
}